#project-title {
  font-family: "Helvetica", sans-serif;
  color: blue;
  text-align:center;
}

.main-section{
	display: flex;
	width: 410px;
	padding: 0 auto;
	margin: 0 auto;
		
}

/*-----------------------------------------------

Styling rules for the calculator

------------------------------------------------*/
.calculator{
	text-align: center;
	width: 168px;
	height: 315px;
	padding: 20px;
	border: solid 3px #000000;
	margin-right: 20px;
	float: left;
}

.calculator #screen{
	width: 155px;
	border: solid 1px #000000;
	margin: 0 0 20px;
	text-align: right;
}

/* Note: space of input button is width plus 4px (2px border on both sides) */
.calculator input[type=button]{
	width:30px;
	height:22px;
	margin: 3px 2px; 
}

/* Rows of calculator buttons */
.calculator .number-buttons div,.calculator .operator-buttons div{
	/*padding: 0 34px;*/
	width: 148px;
	margin: 0 auto;
	text-align:left;
}

.calculator .number-buttons, .calculator .operator-buttons{
	width: 152px;
	padding: 6px 4px;
	border: solid 3px #000077;
	margin: 10px auto;
}

.calculator .number-buttons{
	margin-bottom: 25px;
}

.calculator .operator-buttons{
	margin-top: 25px;
}

/*-----------------------------------------------

Styling rules list of previous equations

------------------------------------------------*/
#entries-list-title{
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0;	
}

#entries-list{
	width: 168px;
	height: 330px;
	border: solid 3px #000000;
}

#entries{
	font-family: "Helvetica", sans-serif;
	padding: 10px;
	margin: 0;
}